@charset "UTF-8";

/* 변수 선언 */
:root {

    /* color */
    --bg: #fff;

	--main: #4B56D2;
    --sub: #6976ff;

    --font: #222;
    --border: #efefef;

    /* font-size */
    --font-size1: 3rem;
    --font-size2: 2.1rem;
    --font-size3: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
}
body,html {
    font-size:16px;
    font-family: 'Pretendard';
    color:var(--font);
    letter-spacing:-.6px;

    background-color: var(--bg);

    word-break:keep-all;
    overflow-x: hidden;
    /* overflow: hidden; */

    -webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
#btn-area {
    position: fixed;
    width: 100%;
    height: 3rem;

    /* 버튼 위치 */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#switchBtn {
    /* 버튼 우측 여백 */
    margin-right: 1rem;
}
.container {
    width: 765px;
    margin: 0 auto;

    /* 내용 상단 여백 */
    padding-top: 5rem;
}
.container>section {
    /* 섹션 간 간격 */
    padding-bottom: 6rem;
    margin-bottom: 5rem;
    
    /* 섹션 간 구분 선 */
    border-bottom: 1px solid var(--border);
}
@media (max-width:768px){
    body,html {font-size:12px}
    .container {
        width: 90vw;
        /* 내용 상단 여백 */
        padding-top: 1rem;
    }
}

h1 {
    font-size: var(--font-size1);
    font-weight: 900;
}
h2 {
    font-size: var(--font-size2);
    font-weight: 700;
}
h3 {
    font-size: var(--font-size3);
    font-weight:400;
}


/* 각 section별 title */
.title {
    /* title과 section사이 거리 */
    margin-bottom: 2.6rem;

    /* 네모랑 텍스트 높이 맞추기 위함 */
    display: flex;
    align-items: center;
}
.section-title-square {
    width: 0.8rem;
    height: 2.3rem;
    margin-right: 0.5rem;
    /* background-color: var(--main); */
    background: linear-gradient(-45deg, var(--main), var(--sub));
}

/* 최종업데이트날짜 */
#last-update {
    transform: translateY(0.5rem);
    margin-left: 0.5rem;
    font-weight: 200;
}






/* section1 ABOUT ME */

#profile-img {
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

/* 이메일, 깃헙, 티스토리 아이콘 */
.icon-circle {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    background-color: var(--font);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    margin-right: 1.5rem;
}
.icon-img {
    height: 60%;
}
#tstory-grid .icon-img {
    height: 50%;
}

/* 이메일, 깃헙, 티스토리 링크 */
#section1-grid a {
    /* text-decoration: none; */
    font-size: var(--font-size3);
    color: var(--main);
}
#section1-grid a:hover {
    transition-duration: 0.3s;
    transform: translateY(-0.05rem);
    color: var(--sub)
}

/* section1 grid bgColor */
/* #profileImg-grid {background-color: orange;}
#name-grid {background-color: yellow;}
#email-grid {background-color: green;}
#github-grid {background-color: blue;}
#tstory-grid {background-color: purple;}
#arrow-grid {background-color: palevioletred;} */

#section1-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 4rem 4rem 4rem 4rem;
    grid-template-areas:
        "profileImg name"
        "profileImg email"
        "profileImg github"
        "profileImg tstory"
    ;
}
#profileImg-grid {
    grid-area: profileImg;
    display: flex;
    align-items: center;
}
#name-grid {
    grid-area: name;
    display: flex;
} #name-grid span {
    color: var(--main);
}
#email-grid {
    grid-area: email;
    display: flex;
    align-items: center;
}
#github-grid {
    grid-area: github;
    display: flex;
    align-items: center;
}
#tstory-grid {
    grid-area: tstory;
    display: flex;
    align-items: center;
}
#arrow-grid {
    grid-area: arrow;
    display: none;
}

@media (max-width:768px){
	#section1-grid {

        margin-top: 8rem;
        height: 670px;
        padding-bottom: 0;

        grid-template-columns: 1fr 7rem 1fr;
        grid-template-rows: 20rem 10rem 5rem 9rem;
        grid-template-areas:
            "profileImg profileImg profileImg"
            "name name name"
            "email github tstory"
            "arrow arrow arrow"
        ;
    }
    #section1-grid {
        padding-bottom: 6rem;
    }
    #section1-grid a {
        display: none;
    }
    #profileImg-grid {
        justify-content: center;
    }
    #name-grid {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .icon-circle {
        margin-right: 0;
        width: 5rem;
        height: 5rem;
    }
    #email-grid {
        justify-content: flex-end;
    }
    #github-grid {
        justify-content: center;
    }
    #arrow-grid {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        font-size: 5rem;
        /* font-weight: 900; */
        color: var(--border);
        
    }
}







/* section2 EDUCATION */

#khLogo-img {
    width: 2.1rem;
    margin-right: 0.3rem;
}


/* section2 grid bgColor */
/* #eduLogo-grid {background-color: red;}
#eduInstitution-grid {background-color: orange;}
#eduPeriod-grid {background-color: yellow;}
#eduDetail-grid {background-color: green;} */

#section2-grid {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "edueduLogo eduInstitution eduPeriod"
        "eduDetail eduDetail eduDetail"
    ;
}
#eduLogo-grid {
    grid-area: edueduLogo;
    display: flex;
    align-items: center;
}
#eduInstitution-grid {
    grid-area: eduInstitution;
    display: flex;
    align-items: center;
}
#eduPeriod-grid {
    grid-area: eduPeriod;
    display: flex;
    align-items: center;

    padding-top: 0.7rem;
    padding-left: 0.3rem;

    font-weight: 300;
}
#eduDetail-grid {
    grid-area: eduDetail;
    display: flex;
    align-items: flex-start;
}

@media (max-width:768px){
	#section2-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "edueduLogo"
            "eduInstitution"
            "eduPeriod"
            "eduDetail"
        ;
    }
    #khLogo-img {
        width: 12rem;
        margin-right: 0;
    }
    #eduLogo-grid {
        justify-content: center;
        margin-bottom: 1rem;
    }
    #eduInstitution-grid {
        justify-content: center;
    }
    #eduPeriod-grid {
        justify-content: center;
        
        padding-top: 0;
        padding-left: 0;

        margin-bottom: 1rem;
    }
    #eduDetail-grid {
        justify-content: center;
    }
}






/* section3 SKILLS */
#section3-grid ul {
    list-style-type: '▪   ';
    margin-left: 1.2rem;
}

/* section3 grid bgColor */
/* #backEnd-grid {background-color: red;}
#frontEnd-grid {background-color: orange;}
#database-grid {background-color: yellow;}
#etc-grid {background-color: green;} */

#section3-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    grid-template-areas:
        "backEnd frontEnd database etc"
    ;
}
#backEnd-grid {
    grid-area: backEnd;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}
#frontEnd-grid {
    grid-area: frontEnd;
    overflow-wrap: break-word;
}
#database-grid {
    grid-area: database;
    overflow-wrap: break-word;
}
#etc-grid {
    grid-area: etc;
    overflow-wrap: break-word;
}

@media (max-width:768px){
	#section3-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "backEnd"
            "frontEnd"
            "database"
            "etc"
        ;
    }
    #section3-grid>div {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #etc-grid {
        margin-bottom: 0 !important; 
    }
    #section3-grid ul {
        list-style-type: none;
        margin-left: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

}






/* section4 PROJECTS */

.projects {
    background-color: var(--border);
    width: 21.5rem;
    height: 21.5rem;
    /* border-radius: 0.5rem; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

    cursor: pointer;
}
.projects:hover {
    transition-duration: 0.3s;
    transform: translateY(-0.3rem);
    /* transform: translate(-0.3rem, -0.3rem); */
}
.project-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
}
.project-info {
    height: 30%;
    padding: 1rem;
}

#project2-grid .project-img {
    background-image: url(/img/PerfumePalette-img.png);
}
#project1-grid .project-img {
    background-image: url(/img/ZOOTOPIA-img.png);
}

/* section4 grid bgColor */
/* #project2-grid {background-color: red;}
#project1-grid {background-color: orange;} */

#section4-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas:
        "project2 project1"
    ;
}
#project2-grid {
    grid-area: project2;
    display: flex;
    justify-content: flex-start;
}
#project1-grid {
    grid-area: project1;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:768px){
    #section4-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "project2"
            "project1"
        ;
    }
    .projects-grid {
        justify-content: center !important;
        margin-bottom: 4rem;
    }
    #project1-grid {
        margin-bottom: 0 !important;
    }

}