@charset "UTF-8";

/* 사용 색상 변수 선언 */
:root {
	--main: #4B56D2;
    --sub: #00E7FF;
    --font: #222;
    --border: #efefef;
}

div {
	color: var(--main-font-color);   /* CSS 변수 사용 */
}

* {
    margin: 0;
    padding: 0;
}

body,html {
    font-size:16px;
    font-family: 'Pretendard';
    color:var(--font);
    letter-spacing:-.6px;

    word-break:keep-all;
    overflow-x: hidden;
    /* overflow: hidden; */

    -webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.container {
    width: 765px;
    margin: 0 auto;
}
.container>section {

    /* 섹션 간 간격 */
    margin-top : 5rem;
    padding-bottom: 5rem;
    
    /* 섹션 간 구분 선 */
    border-bottom: 1px solid var(--border);
}
@media (max-width:768px){
    body,html {font-size:12px}
    .container {width: 90vw}
}

/* 각 section별 title */
.title {
    /* 네모랑 타이틀 높이 맞추기 위함 */
    display: flex;
    align-items: center;
}
.section-title-square {
    width: 0.8rem;
    height: 2.3rem;
    margin-right: 0.5rem;
    background-color: var(--main);
    /* background: linear-gradient(180deg, var(--main), var(--sub)); */
}
h1 {
    font-size: 3rem;
    font-weight: 900;
    /* letter-spacing:-1.9rem; */
}




/* section1 ABOUT ME */

#profile-img {
    height: 100%;
    /* border-radius: 0.5rem; */
}

/* 이메일, 깃헙, 티스토리 아이콘 */
.icon-circle {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    background-color: var(--font);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    margin-right: 1.5rem;
}
.icon-img {
    height: 60%;
}
#tstory-grid .icon-img {
    height: 50%;
}

/* 이메일, 깃헙, 티스토리 링크 */
#section1-grid a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--main);
}
#section1-grid a:hover {
    transition-duration: 0.6s;
    font-size: 1.21rem;
    color: var(--sub)
}

/* section1 grid bgColor */
/* #title-grid {background-color: red;}
#profileImg-grid {background-color: orange;}
#name-grid {background-color: yellow;}
#email-grid {background-color: green;}
#github-grid {background-color: blue;}
#tstory-grid {background-color: purple;} */

#section1-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 6rem 4rem 4rem 4rem 4rem;
    grid-template-areas:
        "title title"
        "profileImg name"
        "profileImg email"
        "profileImg github"
        "profileImg tstory"
    ;
}
#title-grid {grid-area: title;}
#profileImg-grid {
    grid-area: profileImg;
    display: flex;
    align-items: center;
}
#name-grid {
    grid-area: name;
    font-size: 2.1rem;
    font-weight: 700;
    display: flex;
} #name-grid span {
    color: var(--main);
}
#email-grid {
    grid-area: email;
    display: flex;
    align-items: center;
}
#github-grid {
    grid-area: github;
    display: flex;
    align-items: center;
}
#tstory-grid {
    grid-area: tstory;
    display: flex;
    align-items: center;
}

@media (max-width:768px){
	#section1-grid {
        /* height: 700px; */
        grid-template-columns: 1fr 7rem 1fr;
        grid-template-rows: 7rem 20rem 10rem 1fr;
        grid-template-areas:
            "title title title"
            "profileImg profileImg profileImg"
            "name name name"
            "email github tstory"
        ;
    }
    #section1-grid a {
        display: none;
    }
    #profileImg-grid {
        justify-content: center;
    }
    #name-grid {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .icon-circle {
        margin-right: 0;
        width: 5rem;
        height: 5rem;
    }
    #email-grid {
        justify-content: flex-end;
    }
    #github-grid {
        justify-content: center;
    }
}



