@charset "UTF-8";

/* 변수 선언 */
:root {

    /* color */
    --bg: #fff;

    --main: #4B56D2;
    --sub: #6976ff;

    --font: #222;
    --border: #efefef;

    /* font-size */
    --font-size1: 3rem;
    --font-size2: 2.1rem;
    --font-size3: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-size: 16px;
    font-family: 'Pretendard';
    color: var(--font);
    letter-spacing: -.6px;

    background-color: var(--bg);

    word-break: keep-all;
    overflow-x: hidden;
    /* overflow: hidden; */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#btn-area {
    position: fixed;
    width: 100%;
    height: 3rem;

    /* 버튼 위치 */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#switchBtn {
    /* 버튼 우측 여백 */
    margin-right: 1rem;
}

.container {
    /* width: 765px;
    margin: 0 auto; */
    width: 100vw;
    height: 100vh;
}

.swiper {
    width: 100%;
    height: 80%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}