@charset "UTF-8";

/* 변수 선언 */
:root {

    /* color */
    --bg: #fff;

    --main: #4B56D2;
    --sub: #6976ff;

    --font: #222;
    --border: #efefef;

    /* font-size */
    --font-size1: 3rem;
    --font-size2: 2.1rem;
    --font-size3: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-size: 16px;
    font-family: 'Pretendard';
    color: var(--font);
    letter-spacing: -.6px;

    background-color: var(--bg);

    word-break: keep-all;
    /* overflow-x: hidden; */
    overflow: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    width: 100vw;
    height: 100vh;
}
@media (max-width:768px){
    body,html {font-size:12px}
    .container {}
}

h1 {
    font-size: var(--font-size1);
    font-weight: 900;
}
h2 {
    font-size: var(--font-size2);
    font-weight: 700;
}
h3 {
    font-size: var(--font-size3);
    font-weight:400;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 0.7rem !important;  /* 세로축 스크롤바 폭 너비 */
    height: 0.7rem !important;  /* 가로축 스크롤바 폭 너비 */
}

/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
    background: var(--font) !important; /* 스크롤바 막대 색상 */
}


/* 닫기 버튼 */
#closeBtn-area {

    /* 버튼 있는 공간 너비,높이 */
    width: 100%;
    height: 3rem;

    /* 버튼 있는 공간 배경 */
    background-color: var(--bg);
    
    /* 버튼 공간에서 버튼 위치 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#closeBtn {
    cursor: pointer;
    
    /* 버튼 크기 */
    width: 3rem;
    height: 3rem;
    
    /* X 크기 */
    font-size: 2rem;
    
    /* X 위치 */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* 버튼 디자인 */
    border: 0;
    background-color: rgb(0, 0, 0, 0);
    color: var(--font)
}
#project-title {
    /* background-color: red; */
    width: 70%;
    height: 3rem;

    display: flex;
    align-items: center;

    padding-left: 1rem;
    box-sizing: border-box;

    font-size: 1.6rem;
    letter-spacing: 0;
    font-weight: 700;
}





/* Swiper 기본 */
.swiper {
    width: 100%;
    height: calc(100% - 3rem);
}

.swiper-slide {
    text-align: center;
    background-color: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Swiper 디자인 변경 */
:root {
    --swiper-theme-color: var(--main);
    --swiper-navigation-color: var(--main);
    --swiper-pagination-color: linear-gradient(45deg, var(--main), var(--sub));
}

/* 화살표 디자인 */
.swiper-button-next::after, .swiper-button-prev::after {
    content: '' !important;
}
.swiper-button-next {
    width: 4rem !important;
    background-image: url(/img/right-arrow.png) !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-button-prev {
    width: 4rem !important;
    background-image: url(/img/left-arrow.png) !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* 화살표 위치 */
.swiper-button-next, .swiper-button-prev {
}
@media (max-width:768px){
    .swiper-button-next, .swiper-button-prev {
        transform: translateY(calc(56.25vw/2 + (100vh - 3rem - 56.25vw)/4)) !important;
    }
}






/* 프로젝트 소개 본문 */

/* grid bgColor */
/* .project-image {background-color: red;}
.project-description {background-color: orange;} */

/* 공통 */
.swiper-slide {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
.project-image {
    height: 70%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
}
.project-description  {
    height: 30%;
}
@media (max-width:768px){
    .project-image {
        height: 60%;
    }
    .project-description {
        height: 40%;
    }
}

/* 프로젝트 소개 페이지 */
/* bgCol */
#container-section1 {background-color: red;}
#container-section2 {background-color: orange;}
#container-section3 {background-color: yellow;}
#container-section4 {background-color: green;}

.swiper-slide:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-container {
    background-color: pink;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "cSection1 cSection2"
        "cSection3 cSection4"
    ;

    width: 100vw;
    height: 56.25vw;
    max-height: calc(100vh - 3rem);
    max-width: calc((100vh - 3rem) / 9 * 16);

    overflow-y: auto;
}
#container-section1 {
    grid-area: cSection1;
}
#container-section2 {
    grid-area: cSection2;
}
#container-section3 {
    grid-area: cSection3;
}
#container-section4 {
    grid-area: cSection4;
}
@media (max-width:768px){
    .swiper-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "cSection1"
            "cSection2"
            "cSection3"
            "cSection4"
        ;
    }
}






/* 기능 구현 1페이지 */
/* 3부터인 이유는 앞 페이지 2개는 프로젝트 소개 */
/* 3페이지부터 기능 구현 설명임! */
.swiper-wrapper>div:nth-of-type(3) {
    grid-template-areas:
        "pImage1"
        "pdescription1"
    ;
}
.swiper-wrapper>div:nth-of-type(3) .project-image {
    grid-area: pImage1;
    background-image: url(/img/test.jpg);
}
.swiper-wrapper>div:nth-of-type(3) .project-description {
    grid-area: pdescription1;
}

/* 2페이지 */
.swiper-wrapper>div:nth-of-type(4) {
    grid-template-areas:
        "pImage2"
        "pdescription2"
    ;
}
.swiper-wrapper>div:nth-of-type(4) .project-image {
    grid-area: pImage2;
    background-image: url(/img/kh-logo.png);
}
.swiper-wrapper>div:nth-of-type(4) .project-description {
    grid-area: pdescription2;
}


