@charset "UTF-8";

/* 변수 선언 */
:root {

    /* color */
    --bg: #fff;

    --main: #4B56D2;
    --sub: #6976ff;

    --font: #222;
    --border: #efefef;

    /* font-size */
    --font-size1: 3rem;
    --font-size2: 2.1rem;
    --font-size3: 1.2rem;
    --swiper-font-size: 16;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-size: 16px;
    font-family: 'Pretendard';
    color: var(--font);
    letter-spacing: -.6px;

    background-color: var(--bg);

    word-break: keep-all;
    /* overflow-x: hidden; */
    overflow: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    width: 100vw;
    height: 100vh;
}
@media (max-width:768px){
    body,html {font-size:12px}
    .container {}
}
h1 {
    font-size: 3em;
    font-weight: 900;
}
h2 {
    font-size: 2.1em;
    font-weight: 700;
}
h3 {
    font-size: 1.2em;
    font-weight:400;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 0.7rem !important;  /* 세로축 스크롤바 폭 너비 */
    height: 0.7rem !important;  /* 가로축 스크롤바 폭 너비 */
}

/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
    background: var(--font) !important; /* 스크롤바 막대 색상 */
}


/* 닫기 버튼 */
#closeBtn-area {

    /* 버튼 있는 공간 너비,높이 */
    width: 100%;
    height: 3rem;

    /* 버튼 있는 공간 배경 */
    background-color: var(--bg);
    
    /* 버튼 공간에서 버튼 위치 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#closeBtn {
    cursor: pointer;
    
    /* 버튼 크기 */
    width: 3rem;
    height: 3rem;
    
    /* X 크기 */
    font-size: 2rem;
    
    /* X 위치 */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* 버튼 디자인 */
    border: 0;
    background-color: rgb(0, 0, 0, 0);
    color: var(--font)
}
#project-title {
    /* background-color: red; */
    width: 70%;
    height: 3rem;

    display: flex;
    align-items: center;

    padding-left: 1rem;
    box-sizing: border-box;

    font-size: 1.6rem;
    letter-spacing: 0;
    font-weight: 700;
}





/* Swiper 기본 */
.swiper {
    width: 100%;
    height: calc(100% - 3rem);
}

.swiper-slide {
    text-align: center;
    background-color: var(--border);

    display: flex !important;
    justify-content: center;
    align-items: center;
}




/* Swiper 디자인 변경 */
:root {
    --swiper-theme-color: var(--main);
    --swiper-navigation-color: var(--main);
    --swiper-pagination-color: linear-gradient(45deg, var(--main), var(--sub));
}

/* 화살표 디자인 */
.swiper-button-next::after, .swiper-button-prev::after {
    content: '' !important;
}
.swiper-button-next {
    width: 4rem !important;
    background-image: url(/img/right-arrow.png) !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-button-prev {
    width: 4rem !important;
    background-image: url(/img/left-arrow.png) !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* 화살표 위치 */
.swiper-button-next, .swiper-button-prev {
}
@media (max-width:768px){
    .swiper-button-next, .swiper-button-prev {
        /* transform: translateY(calc(56.25vw/2 + (100vh - 3rem - 56.25vw)/4)) !important; */
        top: auto !important;
        bottom: 5vh !important;
    }
}






/* 프로젝트 소개 본문 */
.swiper-container {
    font-size: calc(var(--swiper-font-size) * 1px);
    overflow-y: auto;

    width: 100vw;
    height: 56.25vw;
    max-height: calc(100vh - 3rem);
    max-width: calc((100vh - 3rem) / 9 * 16);
    min-width: 768px;

    background-color: var(--bg);
    box-sizing: border-box;

    position: relative;
}
@media (max-width:768px){
    .swiper-container {
        width: 100vw;
        height: calc(100vh - 3rem);
        min-width: 320px;
    }
}


/* 소개 페이지 꾸미기 영역 */
.swiper-container>:not(.deco-area) {
    position: relative;
}
.deco-area {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 432px;

    overflow: hidden;
}

/* 소개 페이지 꾸미기 영역 - 1페이지 적용 */
.swiper-wrapper>div:first-child .deco-area {
    background-color: var(--projectColor);
    opacity: 0.8;
}
.swiper-wrapper>div:first-child .deco-square {

    width: 100%;
    height: 100%;

    background-color: var(--bg);

    box-sizing: border-box;
    border: calc(var(--swiper-font-size) * 1px) solid var(--projectColor);
    border-radius: calc(var(--swiper-font-size) * 2px);
}

/* 소개 페이지 꾸미기 영역 - 2페이지 이후 적용 */
.swiper-wrapper>div:not(:first-child) .deco-square {

    width: calc(var(--swiper-font-size) * 2px / 12 * 1000);
    height: calc(var(--swiper-font-size) * 1px / 12 * 1000 / 16 * 6);

    background-color: var(--projectColor);
    opacity: 0.8;
}
@media (max-width:768px){
    .deco-area {
        display: none;
    }
}


/* 1페이지 : 프로젝트 설명 */
/* bgCol */
/* #container-section1 {background-color: red;}
#container-section2 {background-color: orange;}
#container-section3 {background-color: yellow;} */

.swiper-wrapper>div:first-child .swiper-container {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "cSection1 cSection3"
        "cSection2 cSection3"
    ;
}
[id*=container-section] {
    min-height: 216px;

    padding: calc(var(--swiper-font-size) * 2px);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#container-section1 {
    grid-area: cSection1;
}
#container-section2 {
    grid-area: cSection2;
}
#container-section3 {
    grid-area: cSection3;
}
@media (max-width:768px){
    .swiper-wrapper>div:first-child .swiper-container  {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "cSection1"
            "cSection2"
            "cSection3"
        ;
    }
    [id*=container-section] {
        min-height: 216px;
    }
}


/* 2페이지 ~ 끝 (공통!) : 이미지 + 설명 */
.swiper-wrapper>div:not(:first-child) .swiper-container {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.project-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg);
    
    /* box-sizing: border-box; */
    width: calc(var(--swiper-font-size) * 10px * 4);
    height: calc(var(--swiper-font-size) * 10px * 3);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

}
.project-description {
    height: 200px;
    box-sizing: border-box;
}
@media (max-width:768px){
    .swiper-wrapper>div:not(:first-child) .swiper-container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .project-image {
        width: 100%;
        height: calc((100vh - 3rem) * 0.6);
        box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
    }
    .project-description  {
        height: auto;
    }
}


/* 2페이지 - ERD*/
.swiper-wrapper>div:nth-of-type(2) .swiper-container {

}
.swiper-wrapper>div:nth-of-type(2) .project-image {
    background-image: url(/img/test.jpg);
}
@media (max-width:768px){
    .swiper-wrapper>div:nth-of-type(2) .swiper-container {
        grid-template-areas:
            "pImage2"
            "pdescription2"
        ;
    }
    .swiper-wrapper>div:nth-of-type(2) .project-image {
        grid-area: pImage2;
    }
    .swiper-wrapper>div:nth-of-type(2) .project-description {
        grid-area: pdescription2;
    }
}


/* 3페이지 - 구현 기능(1)*/
.swiper-wrapper>div:nth-of-type(3) .swiper-container {

}
.swiper-wrapper>div:nth-of-type(3) .project-image {
    background-image: url(/img/kh-logo.png);
}
@media (max-width:768px){
    .swiper-wrapper>div:nth-of-type(3) .swiper-container {
        grid-template-areas:
            "pImage3"
            "pdescription3"
        ;
    }
    .swiper-wrapper>div:nth-of-type(3) .project-image {
        grid-area: pImage3;
    }
    .swiper-wrapper>div:nth-of-type(3) .project-description {
        grid-area: pdescription3;
    }
}





