@charset "UTF-8";

/* 변수 선언 */
:root {

    /* color */
    --bg: #fff;

    --main: #4B56D2;
    --sub: #6976ff;

    --font: #222;
    --border: #efefef;

    --transparency: #ffffff55;
    --transparencyReversal: #22222255

    /* font-size */
    --font-size1: 3rem;
    --font-size2: 2.1rem;
    --font-size3: 1.2rem;
    --swiper-font-size: 16;

    /* duration time */
    --duration: 0.5s
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-size: 16px;
    font-family: 'Pretendard';
    color: var(--font);
    letter-spacing: -.6px;

    background-color: var(--bg);

    word-break: keep-all;
    /* overflow-x: hidden; */
    overflow: hidden;
    transition-duration: var(--duration);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    width: 100vw;
    height: 100vh;
}
@media (max-width:768px){
    body,html {font-size:12px}
    .container {}
}
h1 {
    font-size: 3em;
    font-weight: 900;

    color: var(--projectColor);
    /* text-shadow: 0 0 calc(var(--swiper-font-size) * 1px * 0.5) var(--transparencyReversal); */
}
h2 {
    font-size: 1.5em;
    font-weight: 700;
}
h3 {
    font-size: 1.2em;
    font-weight:400;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 0.7rem !important;  /* 세로축 스크롤바 폭 너비 */
    height: 0.7rem !important;  /* 가로축 스크롤바 폭 너비 */
}

/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
    background: var(--main) !important; /* 스크롤바 막대 색상 */
}


/* 닫기 버튼 */
#closeBtn-area {

    /* 버튼 있는 공간 너비,높이 */
    width: 100%;
    height: 3rem;

    /* 버튼 있는 공간 배경 */
    background-color: var(--bg);
    
    /* 버튼 공간에서 버튼 위치 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#closeBtn {
    cursor: pointer;
    
    /* 버튼 크기 */
    width: 3rem;
    height: 3rem;
    
    /* X 크기 */
    font-size: 2rem;
    
    /* X 위치 */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* 버튼 디자인 */
    border: 0;
    background-color: rgb(0, 0, 0, 0);
    color: var(--font)
}
#project-title {
    /* background-color: red; */
    width: 70%;
    height: 3rem;

    display: flex;
    align-items: center;

    padding-left: 1rem;
    box-sizing: border-box;

    font-size: 1.6rem;
    letter-spacing: 0;
    font-weight: 700;
}





/* Swiper 기본 */
.swiper {
    width: 100%;
    height: calc(100% - 3rem);
}

.swiper-slide {
    text-align: center;
    background-color: var(--border);

    display: flex !important;
    justify-content: center;
    align-items: center;
}




/* Swiper radius디자인 변경 */
:root {
    --swiper-theme-color: var(--main);
    --swiper-navigation-color: var(--main);
    --swiper-pagination-color: linear-gradient(45deg, var(--main), var(--sub));
}

/* 화살표 디자인 */
/* .swiper-button-next::after, .swiper-button-prev::after {
    content: '' !important;
}
.swiper-button-next {
    width: 4rem !important;
    background-image: url(/img/right-arrow.png) !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-button-prev {
    width: 4rem !important;
    background-image: url(/img/left-arrow.png) !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */

/* 화살표 디자인2 */
.swiper-button-next::after, .swiper-button-prev::after {
    color: var(--projectColor);
    text-shadow: 0 0 calc(var(--swiper-font-size) * 1px * 0.5) var(--transparencyReversal);
    font-weight: 900;
    /* opacity: 0.8; */
    font-size: calc(var(--swiper-font-size) * 3px) !important;
}
.swiper-button-next, .swiper-button-prev {
    padding-inline: 1em !important;
}
@media (max-width:768px) {
    .swiper-button-next, .swiper-button-prev {
        /* padding-inline: 0.2em !important; */
    }
}

/* 화살표 위치 */
.swiper-button-next, .swiper-button-prev {
}
@media (max-width:768px){
    .swiper-button-next, .swiper-button-prev {
        /* transform: translateY(calc(56.25vw/2 + (100vh - 3rem - 56.25vw)/4)) !important; */
        top: auto !important;
        bottom: 5vh !important;
    }
}






/* 프로젝트 소개 본문 */
.swiper-container {
    font-size: calc(var(--swiper-font-size) * 1px);
    overflow-y: auto;

    width: 100vw;
    height: 56.25vw;
    max-height: calc(100vh - 3rem);
    max-width: calc((100vh - 3rem) / 9 * 16);
    min-width: 768px;

    background-color: var(--bg);
    box-sizing: border-box;

    position: relative;
}
@media (max-width:768px){
    .swiper-container {
        width: 100vw;
        height: calc(100vh - 3rem);
        min-width: 320px;
    }
}


/* 소개 페이지 꾸미기 영역 */
.swiper-container>:not(.deco-area) {
    position: relative;
}
.deco-area {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 432px;

    overflow: hidden;
}

/* 소개 페이지 꾸미기 영역 - 1페이지 적용 */
.swiper-wrapper>div:first-child .deco-area {
    background-color: var(--projectColor);
    opacity: 0.8;
}
.swiper-wrapper>div:first-child .deco-square {

    width: 100%;
    height: 100%;

    background-color: var(--bg);

    box-sizing: border-box;
    border: calc(var(--swiper-font-size) * 1px) solid var(--projectColor);
    /* border-radius: calc(var(--swiper-font-size) * 2px); */
}

/* 소개 페이지 꾸미기 영역 - 2페이지 이후 적용 */
.swiper-wrapper>div:not(:first-child) .deco-square {

    width: calc(var(--swiper-font-size) * 2px / 12 * 1000);
    height: calc(var(--swiper-font-size) * 1px / 12 * 1000 / 16 * 6);

    background-color: var(--projectColor);
    opacity: 0.8;
}
@media (max-width:768px){
    .deco-area {
        display: none;
    }
}


/* 1페이지 : 프로젝트 설명 */
/* bgCol */
/* #container-section1 {background-color: red;}
#container-section2 {background-color: orange;}
#container-section3 {background-color: yellow;} */

.swiper-wrapper>div:first-child .swiper-container {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "cSection1 cSection3"
        "cSection2 cSection3"
    ;
}
[id*=container-section] {
    min-height: 216px;

    padding-block: calc(var(--swiper-font-size) * 3px);
    padding-inline: calc(var(--swiper-font-size) * 4px);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#container-section1 {
    grid-area: cSection1;
} #container-section1>h2 { 
    /* 프로젝트 간단 소개 */
    opacity: 0.5;
    margin-bottom: calc(var(--swiper-font-size) * 2px);
} #container-section1>div {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    margin-block: calc(var(--swiper-font-size) * 0.5px);
} #container-section1>div>h2 {
    /* background-color: red; */
    width: calc(var(--swiper-font-size) * 10px);
    display: flex;
} #container-section1 #github-url a {
    /* text-decoration: underline; */
    /* cursor: pointer; */
    color: var(--main);
}

#container-section2 {
    grid-area: cSection2;
    justify-content: flex-end;
} #container-section2>h2 {
    /* 개발환경txt */
    margin-bottom: calc(var(--swiper-font-size) * 1.5px);
} #container-section2>div {
    /* 개발환경 아래 내용들 */
    display: flex;
    align-items: center;
    margin-block: calc(var(--swiper-font-size) * 0.5px);
} #container-section2>div>h3:nth-child(1) {
    /* background-color: red; */
    width: calc(var(--swiper-font-size) * 10px);
    display: flex;

    font-weight: 600;
}

#container-section3 {
    grid-area: cSection3;
    justify-content: space-around;
} #container-section3>div {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    text-align: left;
} #container-section3>div>h2 {
    margin-bottom: calc(var(--swiper-font-size) * 1.5px);
}
/* for blur */
#container-section3>div>h2, #container-section3>div>h3 {
    background-color: var(--transparency);
}

@media (max-width:768px){
    .swiper-wrapper>div:first-child .swiper-container  {
        grid-template-columns: 1fr;
        /* grid-template-rows: 18rem 20rem 28rem; */
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
            "cSection1"
            "cSection2"
            "cSection3"
        ;
    }
    [id*=container-section] {
        min-height: min-content;
        border-bottom: 1px solid var(--border);

        padding: 0;
        margin: 0;

        padding-block: 2rem;
        padding-inline: 3rem;

        align-items: center;
        justify-content: center;

    }
    #container-section1 {
    } #container-section1>div {
        flex-direction: column;
    } #container-section1>div>h2 {
        display: block;
    }

    #container-section2 {
    } #container-section2>div {
        /* 개발환경 아래 내용들 */
        flex-direction: column;
    } #container-section2>div>h3:nth-child(1) {
        display: block;    
    }


    #container-section3 {
        /* justify-content: flex-start; */
    } #container-section3>div {
        align-items: center;
        text-align: center;
        width: 70vw;
    }
    #container-section3 #role {
        margin-bottom: 2rem;
    }
}








