@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

#project-title {
    font-family: 'Pinyon Script', cursive;
    font-size: 1.6rem;
    letter-spacing: 0;
    font-weight: 900;
}