/* @import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

#project-title {
    font-family: 'Pinyon Script', cursive;
    font-size: 1.6rem;
    letter-spacing: 0;
    font-weight: 900;
}  */

:root {
    /* --projectColor: #28302d; */
    --projectColor: #34443E;
}

/* 1페이지 배경 */
.swiper-wrapper>div:first-child .deco-square {
    background-image: url(/img/projects-img/PerfumePalette/PerfumePalette-img.png);
    background-size: 100%;
    background-position:  calc(var(--swiper-font-size) * 30px) 20%;
    background-repeat: no-repeat;
}


/* 2페이지 - ERD */
.swiper-wrapper>div:nth-of-type(2) .project-image {
    background-image: url(/img/projects-img/PerfumePalette/Perfume_Palette_ERD.png);
}


/* 3페이지 - 구현 기능(1) MBTI 검사 및 결과 */
.swiper-wrapper>div:nth-of-type(3) .project-image.img1 {
    background-image: url(/img/projects-img/PerfumePalette/1-1.jpg);
    
}
.swiper-wrapper>div:nth-of-type(3) .project-image.img2 {
    background-image: url(/img/projects-img/PerfumePalette/1-2.jpg);
    width: calc(var(--swiper-font-size) * 8px);
    height: calc(var(--swiper-font-size) * 20px);

    position: absolute;
	left: calc(var(--swiper-font-size) * 50px);
    bottom: calc(var(--swiper-font-size) * 8.5px);
}

.swiper-wrapper>div:nth-of-type(3) .project-description {
    position: absolute;
    top: calc(var(--swiper-font-size) * 5px);
	right: calc(var(--swiper-font-size) * 5px);
}

.swiper-wrapper>div:nth-of-type(3) .project-description .txt-main {
    display: flex;
    flex-direction: column;
}
.swiper-wrapper>div:nth-of-type(3) .project-description .txt-sub {
    color: var(--font);
    text-align: left;

    position: absolute;
    top: calc(var(--swiper-font-size) * 27px);
	left: calc(var(--swiper-font-size) * -9px);
    margin-left: 4.6em;
}
@media (max-width:768px){
    .swiper-wrapper>div:nth-of-type(3) .swiper-container {
        grid-template-areas:
            "pImage3"
            "pdescription3"
        ;
    }
    .swiper-wrapper>div:nth-of-type(3) .project-image {
        grid-area: pImage3;
    }
    .swiper-wrapper>div:nth-of-type(3) .project-description {
        grid-area: pdescription3;
        position: static;
    }

    .swiper-wrapper>div:nth-of-type(3) .project-description .textStyle2>div:nth-of-type(1) {
        flex-direction: row;
        justify-content: center;
    }
    .swiper-wrapper>div:nth-of-type(3) .project-description .txt-sub {
        text-align: center;
        position: static;
        margin-left: 0;
    }
}


/* 4페이지 - 구현 기능(2) 상품 목록 페이지 */
.swiper-wrapper>div:nth-of-type(4) .project-image.img1 {
    background-image: url(/img/projects-img/PerfumePalette/2-1.gif);
    
}
.swiper-wrapper>div:nth-of-type(4) .project-image.img2 {
    background-image: url(/img/projects-img/PerfumePalette/2-2.jpg);
    width: calc(var(--swiper-font-size) * 8px);
    height: calc(var(--swiper-font-size) * 20px);

    position: absolute;
	left: calc(var(--swiper-font-size) * 50px);
    bottom: calc(var(--swiper-font-size) * 8.5px);
}

.swiper-wrapper>div:nth-of-type(4) .project-description {
    position: absolute;
    top: calc(var(--swiper-font-size) * 5px);
	right: calc(var(--swiper-font-size) * 5px);
}

.swiper-wrapper>div:nth-of-type(4) .project-description .txt-main {
    display: flex;
    flex-direction: column;
}
.swiper-wrapper>div:nth-of-type(4) .project-description .txt-sub {
    color: var(--font);
    text-align: left;

    position: absolute;
    top: calc(var(--swiper-font-size) * 27px);
	left: calc(var(--swiper-font-size) * -9px);
    margin-left: 4.6em;
}
@media (max-width:768px){
    .swiper-wrapper>div:nth-of-type(4) .swiper-container {
        grid-template-areas:
            "pImage3"
            "pdescription3"
        ;
    }
    .swiper-wrapper>div:nth-of-type(4) .project-image {
        grid-area: pImage3;
    }
    .swiper-wrapper>div:nth-of-type(4) .project-description {
        grid-area: pdescription3;
        position: static;
    }

    .swiper-wrapper>div:nth-of-type(4) .project-description .txt-main {
        flex-direction: row;
        justify-content: center;
    }
    .swiper-wrapper>div:nth-of-type(4) .project-description .txt-sub {
        text-align: center;
        position: static;
        margin-left: 0;
    }
}