/* @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#project-title {
    font-family: 'Jua', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0;
    font-weight: 900;
} */

:root {
    /* --projectColor: #332a1a; */
    --projectColor: #4E422D;
}

/* 1페이지 배경 */
.swiper-wrapper>div:first-child .deco-square {
    background-image: url(/img/projects-img/ZOOTOPIA/ZOOTOPIA-img.png);
    background-size: 30%;
    background-position:  99% 95%;
    background-repeat: no-repeat;
}


/* 2페이지 - ERD */
.swiper-wrapper>div:nth-of-type(2) .project-image {
    background-image: url(/img/test.jpg);
}


/* 3페이지 - 구현 기능(1)*/
.swiper-wrapper>div:nth-of-type(3) .project-image.img1 {
    background-image: url(/img/test.jpg);
    
}
.swiper-wrapper>div:nth-of-type(3) .project-image.img2 {
    background-image: url(/img/test.jpg);
    width: calc(var(--swiper-font-size) * 10px);
    height: calc(var(--swiper-font-size) * 15px);

    position: absolute;
    /* top:  calc(var(--swiper-font-size) * 1px / 12 * 1000 / 16 * 2); */
	left: calc(var(--swiper-font-size) * 55px);
}
.swiper-wrapper>div:nth-of-type(3) .project-description {
    position: absolute;
    top: calc(var(--swiper-font-size) * 25px);
	left: calc(var(--swiper-font-size) * 55px);
}
@media (max-width:768px){
    .swiper-wrapper>div:nth-of-type(3) .swiper-container {
        grid-template-areas:
            "pImage3"
            "pdescription3"
        ;
    }
    .swiper-wrapper>div:nth-of-type(3) .project-image {
        grid-area: pImage3;
    }
    .swiper-wrapper>div:nth-of-type(3) .project-description {
        grid-area: pdescription3;
        position: static;
    }
}
